{% extends 'base.html' %}

{% block title %}My Uploads{% endblock %}

{% block content %}

    <div class="container ">
        <div class="jumbotron bg-white text-dark border-0 py-3">
            <h1 class="display-6">Uploads</h1>
            <p>Here you will find all your uploads. In a future release we will have a fully functional
                admin dashboard that will allow you to gain more insights into how your customers are using your
                products.</p>
            <span class="badge badge-dark mr-2 shadow-sm">{{ request.user.model_set.count }} Model Uploads</span>
            <span class="badge badge-dark shadow-sm">{{ request.user.dataset_set.count }} Dataset Uploads</span>

        </div>

        <div class="card border-0">
            <h4 class="p-0 m-0 font-weight-bold">My Model Uploads</h4>
            <div class="card-body"></div>
            <ul class="list-group list-group-flush">
                {% for model in request.user.model_set.all %}
                    <ul class="list-group-item list-group-item-action">
                        <div class="d-flex">
                            {% include 'models/_model_banner_inline_item.html' %}
                            <div class="d-flex flex-column ml-auto">

                                <a href="{% url 'models:model_update' model.id %}"
                                   class='btn btn-outline-dark'>
                                    Edit
                                </a>
                                <a href="{% url 'subscriptions:subscription_model_list_view' model.id %}"
                                   class='btn btn-outline-dark my-1'>
                                    Subscribers
                                </a>
                                <a href="#" class='btn btn-outline-dark'>Price Change</a>
                            </div>

                        </div>
                    </ul>
                {% empty %}
                    No Models
                {% endfor %}
            </ul>
        </div>

        {#        # TODO#}
        {#        <div class="card m-4 bg-light border-0">#}
        {#            <div class="card-header bg-secondary text-white rounded-0">#}
        {#                My Dataset Uploads#}
        {#            </div>#}
        {#            <div class="card-body pt-0">#}
        {#                <ul class="list-group list-group-flush">#}
        {#                    {% for model in request.user.model_set.all %}#}
        {#                        <ul class="list-group-item list-group-item-action border rounded-0 p-4 mt-2">#}
        {#                            <div class="d-flex">#}
        {#                                {% include 'models/_model_banner_inline_item.html' %}#}
        {#                                <div class="btn-group-vertical ml-auto rounded-0" role="group"#}
        {#                                     aria-label="Basic example">#}
        {##}
        {#                                    <a href="{% url 'models:model_update' model.id %}"#}
        {#                                       class='btn btn-sm btn-outline-primary rounded-0'>#}
        {#                                        Edit#}
        {#                                    </a>#}
        {#                                    <a href="{% url 'subscriptions:subscription_model_list_view' model.id %}"#}
        {#                                       class='btn btn-sm btn-outline-primary'>#}
        {#                                        Subscribers#}
        {#                                    </a>#}
        {#                                    <a href="#" class='btn btn-sm btn-outline-primary rounded-0'>Price Change</a>#}
        {#                                </div>#}
        {##}
        {#                            </div>#}
        {#                        </ul>#}
        {#                    {% empty %}#}
        {#                        No Models#}
        {#                    {% endfor %}#}
        {#                </ul>#}
        {#            </div>#}
        {##}
        {#        </div>#}

    </div>

{% endblock content %}