{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

    <div class="container">
        <div class="jumbotron bg-white text-dark border-0 py-3 mb-0">
            <h1 class="display-6">{{ profile.username }}</h1>
            <a href="{% url 'uploads_view' %}" class="btn badge badge-dark mr-2 shadow-sm">{{ num_subscribers }} subscribers</a>
            <a href="{% url 'subscriptions:subscription_list_view' %}" class="btn badge badge-dark shadow-sm">{{ num_subscriptions }} subscriptions</a>
        </div>

        <div class="card border-0">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                <ul class="list-group-item border-0">
                    <b>Firstname:</b> {{ profile.first_name }}
                    <span class="ml-3">
                        <b>Lastname:</b> {{ profile.last_name }}
                    </span>
                </ul>
                <ul class="list-group-item border-0">
                    <b>Email:</b> {{ profile.email }}
                </ul>
                <ul class="list-group-item border-0">
                    <b>Bio:</b> {{ profile.bio }}
                </ul>
                <ul class="list-group-item border-0">
                    <b>Title:</b> {{ profile.title }}
                    <span class="ml-3">
                        <b>Company:</b> {{ profile.company }}
                    </span>
                </ul>
            </ul>
            </div>
        </div>
    </div>

{% endblock content %}