{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="container">

        <div class="shadow card my-4">
            <h2 class="card-header">{{ profile.username }}</h2>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">
                <table class="table table-borderless">
                    <tbody>
                    <tr>
                        <th scope="row">Email</th>
                        <td>{{ profile.pk }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Upload Date</th>
                        <td>{{ profile.first_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Last Modified Date</th>
                        <td>{{ profile.last_name }}</td>
                    </tr>
                    </tbody>
                </table>
                </p>
            </div>
        </div>
    </div>

{% endblock content %}