{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">

        <h2>models</h2>
        <ul class="list-group list-group-flush">
            {% for m in object_list %}
                <li class="list-group-item"><a href="{% url 'models:model_view' m.id %}">{{ m.title }}
                    - {{ m.description }}</a></li>
            {% empty %}
                <li class="list-group-item">No models yet.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}