{% extends 'base.html' %}

{% load rating_stars %}

{% block title %}Models{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="display-4 py-2">Featured Models</h1>
        <div class="card-deck">
            {% for m in featured %}

                <div class="card bg-light shadow mb-5" style="min-width: 18rem;">
                    <div class="card-header d-flex">
                      <div>
                          <h5 class="mb-0">
                              <a class="text-dark" href="{% url 'models:model_view' m.id %}">{{ m.title }}</a>
                          </h5>
                      </div>
                          {% if m.third_party %}
                            <div class="ml-auto">
                              <span class="badge badge-dark badge-pill shadow-sm">Third Party</span>
                            </div>
                          {% endif %}
                    </div>

                    <div class="card-body bg-white">
                        <p class="card-text">{{ m.description }}</p>
                        <h5 class="card-title">
                            <a href="#" class="badge badge-info">Tag</a>
                            <a href="#" class="badge badge-info">Tag</a>
                            <a href="#" class="badge badge-info">Tag</a>
                        </h5>
                    </div>

                    {#                    stars                    #}
                    <div class="border-0 card-footer bg-white d-inline-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            {% get_ratings rating=m.get_avg_stars %}
                        </div>
                        <div>
                            {% if m.cost > 0 %}
                                ${{ m.cost|floatformat:"2" }}
                            {% else %}
                                Free*
                            {% endif %}
                        </div>
                    </div>

                </div>
            {% empty %}

            {% endfor %}
        </div>

        <h1 class="display-4 py-2">Popular Models</h1>
        <div class="card-deck">
            {% for m in popular %}

                <div class="card bg-light shadow mb-5" style="min-width: 18rem;">
                    <div class="card-header">
                        <h5 class="mb-0"><a class="text-dark"
                                            href="{% url 'models:model_view' m.id %}">{{ m.title }}</a></h5>
                    </div>

                    <div class="card-body bg-white">
                        {#                    <h5 class="card-title">Card title</h5>#}
                        <p class="card-text">{{ m.description }}</p>
                        <h5 class="card-title">
                            <a href="#" class="badge badge-info">Tag</a>
                            <a href="#" class="badge badge-info">Tag</a>
                            <a href="#" class="badge badge-info">Tag</a>
                        </h5>
                    </div>

                    {#                    stars                    #}
                    <div class="border-0 card-footer bg-white d-inline-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            {% get_ratings rating=m.get_avg_stars  %}
                        </div>
                        <div>
                            {% if m.cost > 0 %}
                                ${{ m.cost|floatformat:"2" }}
                            {% else %}
                                Free*
                            {% endif %}
                        </div>
                    </div>

                </div>
            {% empty %}

            {% endfor %}
        </div>
    </div>
{% endblock %}
