{% load rating_stars %}
{% load sun_unsub_btn %}

<div class="jumbotron  bg-white text-dark  pt-0 pr-0 pb-3">
    <div class="d-flex">
        <div class="">
            <h1 class="pt-3 mb-0">
                <a class="text-decoration-none text-dark font-weight-bold"
                   href="{% url 'models:model_view' model.id %}">{{ model.title }}
                </a>
            </h1>
        </div>
        {% if bookmark_to_render %}
            <div class="ml-auto">
                <form action="{% url 'models:bookmark_model' model.id %}" method="post">{% csrf_token %}
                    <button type=submit class="btn btn-sm border-0 text-dark">
                        <i class="material-icons" style="font-size: 49px">{{ bookmark_to_render }}</i>
                    </button>
                </form>
            </div>
        {% endif %}
    </div>

    <div class="d-flex align-items-center mb-1">
        <div class="strong pr-2">{{ model.get_avg_stars }}</div>
        {% get_ratings rating=model.get_avg_stars_floor %}
        <a href="#reviews" class="small text-white mx-2">
                    <span class="badge badge-secondary shadow-sm"
                          style="font-size: 12px">{{ model.modelreview_set.count }} Review{{ model.modelreview_set.count|pluralize }}</span>
        </a>
        <small><span class="badge badge-secondary shadow-sm"
                     style="font-size: 12px">{{ model.get_total_api_calls }} API Calls</span>
        </small>
    </div>

    <div>
        {% if model.cost > 0 %}
            ${{ model.cost|floatformat:"2" }}
        {% else %}
            Free*
        {% endif %}
    </div>

    <div class="col pl-0 pb-0 mt-4">
        <a href="#" class="badge badge-info">Tag</a>
        <a href="#" class="badge badge-info">Tag</a>
        <a href="#" class="badge badge-info">Tag</a>
    </div>

    <div class="d-flex align-items-center">
        <i class="material-icons pr-1">account_box</i>
        <a class="py-2 text-dark text-decoration-none" href="{% url 'profile_view' pk=model.user.id %}">
            {{ model.user.username }}
        </a>

        <div class="ml-auto">

            {% if request.user == model.user %}
                <a href="{% url 'models:model_update' model.id %}"
                   class="btn btn-sm btn-outline-dark d-flex align-items-center mx-3 shadow-sm">Edit
                    <i class="material-icons ml-2">edit</i></a>
            {% else %}
                {% get_sub_unsub_btn model=model %}
            {% endif %}

        </div>
    </div>

</div>