{% extends 'base.html' %}

{% load model_banner %}
{% load get_reviews_for_model %}

{% block title %}Model - {{ model.title }} - DatosInsights.com{% endblock %}



{% block content %}

    <div class="container">
        {% display_full_banner %}

        <hr/>

        {#<a class="text-white" href="{% url 'profile_view' pk=model.user.id %}">{{ model.user.username }}</a>#}
        <div class="card border-0">
            <div class="card-header d-flex justify-content-between align-items-center bg-white border-0">
                <h4 class="p-0 m-0 font-weight-bold">Summary</h4>
                {% if api_calls %}
                    <div class="text-muted small d-flex justify-content-center align-items-center">
                        <div class="mx-2">
                            {% if request.user == model.user %}

                                Users have made {{ api_calls }} calls to this API - avg response {{ api_calls_avg }} ms

                            {% else %}

                                You have made {{ api_calls }} calls to this API - avg response {{ api_calls_avg }} ms

                            {% endif %}
                        </div>
                        {#                        <a href="{% url 'subscriptions:subscription_model_list_view' model.id %}"#}
                        {#                           class="btn btn-outline-dark">Subscription Details#}
                        {#                        </a>#}
                    </div>
                {% endif %}

            </div>
            <div class="card-body">
                {{ model.description }}
            </div>


        </div>

        <hr/>

        {% model_reviews_list %}

    </div>
{% endblock %}