<div class="container">
    <div class="shadow card my-4">
        <h2 class="card-header">{{ model_review.title }}</h2>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <th scope="row">Description</th>
                    <td>{{ model_review.text }}</td>
                </tr>
                <tr>
                    <th scope="row">Upload Date</th>
                    <td>{{ model_review.original_date }}</td>
                </tr>
                <tr>
                    <th scope="row">Last Modified Date</th>
                    <td>{{ model_review.last_modified }}</td>
                </tr>
                <tr>
                    <th scope="row">Rating</th>
                    <td>{{ model_review.stars }}</td>
                </tr>
                <tr>
                    <th scope="row">Author</th>
                    <td>
                        <a href="{% url 'profile_view' pk=model_review.author.id %}">
                            {{ model_review.author.username }}
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            </p>
        </div>
    </div>
</div>